# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual Environments
# ===============================
.venv/
env/
venv/

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs & temp
# ===============================
*.log
*.tmp

# ===============================
# ML Artifacts
# ===============================
models/*.pkl
models/*.joblib
